<h1>Sign Up Form</h1>
<form action="/register" method="post">
  <input type="text" placeholder="Username" name="Username" id="">
  <input type="text" placeholder="Password" name="Password" id="">
  <button>Submit</button>
</form>